---
 
export const prerender = true;
import { sanityClient } from 'sanity:client';
import { UrlFor } from '../../components/imageUrl.jsx';
import PortableText from "../../components/PortableText.astro"
import SanityImage from '../../components/SanityImage.astro';

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug.current)]`);
  return posts.map((post) => {
      return {
        params: {
          slug: post.slug.current,
        },
        props: { ...post },
    };
  });
}
 
const { slug } = Astro.params;
// const { title, author, pubdate, main_image, details } = await sanityClient.fetch(`*[_type == "post" && slug.current == $slug][0]`, { slug });
const { title, author, pubdate, main_image, details } = Astro.props;
---
 
<html>
<body>
  <a href="/">Back</a>
  <h1>{title}</h1>
  <p>{author}</p>
  <p>{typeof pubdate === 'string' ? new Date(pubdate).toLocaleDateString('en-US') : ''}</p>
  <PortableText value={details} />
  <img src={UrlFor(main_image).width(200).url()} alt="main image"/>
  <SanityImage node={main_image} width="600" />
</body>
</html>